<footer class="footer text-center">
    <div id="bottom-inner">
        <a class="bottom-item" href="https://gitee.com/lhtin" target="_blank">Copyright@lhtin</a> |
        <a class="bottom-item" href="https://hexo.io" target="_blank">Powered by hexo</a> |
        <a class="bottom-item" href="https://github.com/KevinOfNeu/hexo-theme-xoxo" target="_blank">Theme xoxo</a>
    </div>
</footer>